<div class="media">
  <div class="media__image">
    <svg class="icon">
      <use xlink:href="/images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & managed updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis atque
      nemo ullam dolor alias blanditiis placeat cupiditate, fuga hic deserunt
      dolores aspernatur iusto reiciendis inventore cumque voluptates totam
      beatae enim.
    </p>
  </div>
</div>
