<section class="block block--dark block--skewed-left block-showcase">
  <header class="block__header">
    <h2 class="block__heading">Lorem ipsum dolor sit amet.</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="/Images/ipad.png" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">
              Easy start & managed updates
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis atque nemo ullam dolor alias blanditiis placeat
              cupiditate, fuga hic deserunt dolores aspernatur iusto reiciendis
              inventore cumque voluptates totam beatae enim.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">
              Easy start & managed updates
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis atque nemo ullam dolor alias blanditiis placeat
              cupiditate, fuga hic deserunt dolores aspernatur iusto reiciendis
              inventore cumque voluptates totam beatae enim.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">
              Easy start & managed updates
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis atque nemo ullam dolor alias blanditiis placeat
              cupiditate, fuga hic deserunt dolores aspernatur iusto reiciendis
              inventore cumque voluptates totam beatae enim.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
